body {
    display: flex;
    flex-direction: column;
    padding: 1.563rem 3.125rem 1.563rem 3.125rem;
    background-color: rgb(53, 53, 53);
    color: aliceblue;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif
}

.firstSection {
    background-color: #A0615F;
}

.header {
    display: flex;
    margin: 1.125rem 9.375rem 1.125rem 9.375rem;
    justify-content: space-between;
    align-items: center;
    background-color: #5f9ea0;
    border-style: solid;
    border-width: 2px;
    border-radius: .75rem;
    border-color: black;
}

.head {
    display: flex;
    width: auto;
    height: 12.5rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    border-color: black;
    margin: 3px;
}

a {
    color: aliceblue;
    font-size: 2rem;
    text-decoration: underline;
  }

a:hover {
    color: chartreuse;
    font-size: 3rem;
}

h1 {
    font-family: "Caveat", Helvetica, sans-serif;
    font-size: 5rem;
    color: aliceblue;
    text-shadow: 3px 3px 3px #5a5a5a;
}

img {
    max-width: 100%;
}